* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    font-weight: bold;
}

ul,
li {
    list-style: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input,
textarea,
button {
    outline: none;
    border: none;
}

.deep {
    background: #f3f3f3;
}

.light {
    background: #fff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    font-size: 0;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.website-wrapper {
    /* width: 1060px;
    margin: 0 auto; */
}

.website-header {
    background: #fff;
    width: 100%;
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.website-margin {
    margin-top: 90px;
}

.website-box1,
.website-box2 {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.website-box1 .website-logo {
    float: left;
    /* width: 145px; */
    height: 90px;
}

.website-box1 .website-logo img,
.website-box2 .website-logo2 img {
    /* width: 100%; */
    height: 100%;
}

.website-box1 .website-list {
    float: right;
}

.website-box1 .website-list .website-item {
    float: left;
    margin-left: 10px;
}

.website-box1 .website-list .website-item a {
    color: #797979;
    font-size: 15px;
    position: relative;
    padding: 5px 20px;
    transition: all .3s;
    z-index: 1;
}

.website-box1 .website-list .website-item a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background: #159eee;
    transition: all .3s;
    border-radius: 3px;
    z-index: -1;
}

.website-box1 .website-list .website-item a:hover {
    color: #fff;
}

.website-box1 .website-list .website-item a:hover:after {
    height: 100%;
}

.website-box2 {
    width: 100%;
}

.website-box2 .website-logo2 {
    width: 186px;
    height: 90px;
    margin: 0 auto;
}

.website-box2 .website-btn {
    position: absolute;
    top: 0;
    left: 11%;
}

.website-box2 .website-btn .fa-bars {
    font-size: 14px;
    cursor: pointer;
}

.website-box2 .website-btn .fa-bars:hover {
    color: #b2dd4c;
}

.website-box2 .website-list2 {
    width: 100%;
    background: #fff;
}

.website-box2 .website-list2>ul {
    width: 80%;
    margin: 0 auto;
}

.website-box2 .website-list2>ul .website-item2 a {
    color: #797979;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #eaeaea;
    line-height: 35px;
    cursor: pointer;
}

.website-box2 .website-list2>ul .website-item2:last-child a {
    border: none;
}

.website-box2 .website-list2>ul .website-item2 a:hover {
    color: #b2dd4c;
}

.website {
    width: 100%;
    height: 500px;
    position: relative;
    overflow:hidden;
    background:url("../images/slide1.jpg") no-repeat center center;
    background-size: cover;
}

.website .websiteTitle {
    position: absolute;
    color: #fff;
    width: 100%;
    top: 150px;
}

.website .websiteTitle h2{
    font-weight:bold;
    font-size:58px;
	margin-left:11%;
}
.website .websiteTitle h3{
    font-weight:bold;
    font-size:45px;
    width:70%;
    margin:20px auto 0 auto;
}

.website-title {
    color: #333;
    font-size: 20px;
    text-align: center;
    font-weight:bold;
    margin-bottom: 60px;
}

#products-services {
    padding: 60px 0;
}

.website-position {
    /* width: 100%;
    height: 605px;
    position:relative; */
}

.website-position .psbox {
    /* position:absolute; */
    /* width:300px; */
    height: 280px;
    border: 1px solid #eee;
    background: #fff;
    text-align: center;
    padding: 30px 25px 18px;
    z-index: 10;
}

.website-position .psbox:hover {
    transform: scale(1.1);
    -webkit-transform: scale(7deg);
    border: none;
    box-shadow: 0px 0px 30px 1px #dbe6fe;
    -webkit-box-shadow: 0px 0px 30px 1px #dbe6fe;
    transition: all .4s ease-out;
    border:none;
    z-index: 999;
}

.website-position .psbox:hover .psbc-img {
    transform: rotate(360deg)
}

.website-position .psbox:hover .psbc-more {
    border: 1px solid #4b96ff;
    color: #4b96ff;
}

.website-position .psbox .psbc-img {
    width: 104px;
    height: 104px;
    margin: 0 auto;
    transition: all .8s;
    background: url("../images/website1.png") no-repeat;
    transition:all .3s ease-out;
}

.website-position .psbox .psbc-title {
    font-size: 18px;
    margin-top: 25px;
}

.website-position .psbox .psbc-cont {
    font-size: 12px;
    color: #333;
    margin: 10px 0;
    line-height: 1.5;
}

.website-position .psbox .psbc-more {
    display: block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #eee;
    background: #fff;
    color: #333;
    text-align: center;
    font-weight: 200;
    font-size: 13px;
    margin: 0 auto;
}

.website-position .ps-box-center {
    width: 300px;
    height: 215px;
    top: 284px;
    left: 50%;
    margin-left: -176px;
}

.website-position .ps-box1 .psbc-img {
    background: url("../images/website1.png") no-repeat;
}

.website-position .ps-box2 .psbc-img {
    background: url("../images/website3.png") no-repeat;
}

.website-position .ps-box3 .psbc-img {
    background: url("../images/website4.png") no-repeat;
}

.website-position .ps-box4 .psbc-img {
    background: url("../images/website5.png") no-repeat;
}

.website-position .ps-box5 .psbc-img {
    background: url("../images/website6.png") no-repeat;
}

.website-position .ps-box6 {}

.website-position .ps-box6 .psbc-img {
    background: url("../images/website7.png") no-repeat;
}

#partner {
    padding: 60px 0;
}

.partner-img li {
    height: 125px;
    line-height:125px;
    text-align:center;
    margin-bottom: 20px; 
}

.partner-img li img {
    /* max-width: 248px; */
    /* height: 100%; */
}

#company-news {
    padding: 60px 0;
}

#company-news .com-left {
    padding: 0 30px;
}

#company-news .com-left .coml-img {
    width: 100%;
    height: 255px;
    background:url("../images/website9.png") no-repeat;
    background-size:cover;
}
#company-news .com-left .coml-container {
    max-height: 150px;
    overflow: hidden;
}

#company-news .com-left .coml-title{
    font-size: 16px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    margin-top: 20px;
}

#company-news .com-left .coml-title a{
	color:#000;
}

#company-news .com-left .coml-title a:hover{
	text-decoration:underline;
}

#company-news .com-left .coml-cont {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
    max-height: 67px;
    overflow: hidden;
}

#company-news .com-left .coml-cont p{
	font-size:14px;
}

#company-news .com-right {
    padding: 0 30px;
    max-height: 402px;
    overflow: hidden;
}

#company-news .com-right>ul .news-item {
    margin-bottom: 30px;
}

#company-news .com-right>ul .news-item:last-child {
    margin-bottom: 0;
}

#company-news .com-right>ul .news-item .ni-left {
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #4c83c4;
    color: #fff;
    text-align: center;
}

#company-news .com-right>ul .news-item .ni-left .nil-day {
    font-size: 24px;
    margin-top: 22px;
}

#company-news .com-right>ul .news-item .ni-left .nil-date {
    font-weight: 100;
    font-size: 13px;
    margin-top: 10px;
}

#company-news .com-right>ul .news-item .ni-right {
    float: right;
    width: 75%;
}

#company-news .com-right>ul .news-item .ni-right .nir-title {
    font-size: 16px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

#company-news .com-right>ul .news-item .ni-right .nir-title a{
	color:#000;
}

#company-news .com-right>ul .news-item .ni-right .nir-title a:hover{
	text-decoration:underline;
}

#company-news .com-right>ul .news-item .ni-right .nir-cont {
    font-size: 13px;
    margin: 10px 0;
    color: #4e4e4e;
    line-height: 1.6;
    max-height: 40px;
    overflow: hidden;
    /* position:relative; */
}

#company-news .com-right>ul .news-item .ni-right .nir-cont p{
	font-size:13px;
}

#company-news .com-right>ul .news-item .ni-right .nir-cont:after {
    display: none;
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
}

#company-news .com-right>ul .news-item .ni-right .nir-more {
    display: block;
    color: #828282;
    font-size: 12px;
}

#company-news .com-right>ul .news-item .ni-right .nir-more:hover {
    text-decoration: underline;
}

.see-more,
.see-more:hover{
    float: right;
    width: 75%;
    text-align: center;
    background: #454546;
    color: #fff;
    padding: 4px 0;
    margin-top: 15px;
}

.follow-us {
    width: 100%;
    padding: 60px 0;
    background:url("../images/aboutUs.jpg") no-repeat center center;
    background-size:cover;
    background-attachment: fixed;
}

.follow-us .website-title{
    color:#fff;
}

.follow-us .us-context {
    width: 80%;
    margin: 0 auto;
    text-indent: 35px;
    line-height: 1.6;
    font-size: 17px;
    color:#fff;
    background: rgba(255,255,255,.35);
    padding: 40px 80px;
    border-radius: 5px;
    box-sizing:border-box;
}

.follow-us .qr-code {
    text-align: center;
    margin-top: 40px;
}

.follow-us .qr-code .qr-code1,
.follow-us .qr-code .qr-code2 {
    display: inline-block;
}

.follow-us .qr-code .qr-code2 {
    margin-left: 20px;
}

.follow-us .qr-code .qr-code1>p,
.follow-us .qr-code .qr-code2>p {
    width: 130px;
    height: 124px;
    background: url("../images/yipinsu.png") no-repeat;
}

.follow-us .qr-code .qr-code2>p {
    background: url("../images/maoshan.png") no-repeat;
}

#website-footer {
    background: #262626;
    position: relative;
}

#website-footer .website-this {
    position: absolute;
    width: 106px;
    height: 107px;
    top: -30px;
    left: 50%;
    margin-left: -53px;
    background: url("../images/this.png") no-repeat;
}

#website-footer .wf-top {
    /* width: 1250px; */
    /* margin: 0 auto; */
    width:100%;
}

#website-footer .wf-top .wft-ul {
    color: #a2a2a2;
    font-size: 14px;
    padding: 20px 0 50px 0;
}

#website-footer .wf-top .wft-ul>li {
    height: 415px;
    padding: 30px;
	padding-top:50px;
    border-right: 1px solid #4e5257;
}

#website-footer .wf-top .wft-ul>li:last-child {
    border: none;
}

#website-footer .wf-top .wft-ul .wft-map{
    text-align:center;
}
#website-footer .wf-top .wft-ul .wft-map img{
    width:320px;
}

#website-footer .wf-top .wft-ul .wft-contact {
    padding-left: 45px;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c {
    margin-bottom: 20px;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c>span {
    display: inline-block;
    color: #fff;
    width: 42px;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c>input,
#website-footer .wf-top .wft-ul .wft-contact .wft-c>textarea {
    width: 235px;
    background: #262626;
    border: 1px solid #cfcfcf;
    color:#a2a2a2;
    padding: 10px 15px;
    border-radius: 3px;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c input::-webkit-input-placeholder {
    color: #a2a2a2;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c input::-moz-placeholder {
    color: #a2a2a2;
    opacity: 1;
}
#website-footer .wf-top .wft-ul .wft-contact .wft-c input:-ms-input-placeholder{
    color:#a2a2a2;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c>textarea {
    resize: none;
    height: 60px;
}

#website-footer .wf-top .wft-ul .wft-contact .wft-c .wft-btn {
    background: #159eee;
    color: #fff;
    padding: 5px 13px;
    border-radius: 3px;
    margin-left: 110px;
    cursor: pointer;
}

.wfta-logo {
    text-align: center;
    position:absolute;
    top:25px;
    left:50%;
    margin-left:-93px;
}

.wfta-logo img {
    height: 90px;
}

#website-footer .wf-top .wft-ul .wft-address .weixin {
    padding-left: 28px;
    margin-top: 35px;
}

#website-footer .wf-top .wft-ul .wft-address .weixin .weixin-box {
    display: inline-block;
    text-align: center;
}
#website-footer .wf-top .wft-ul .wft-address .weixin .wb2 {
    margin-left: 23px;
}

#website-footer .wf-top .wft-ul .wft-address .weixin .weixin-box>span {
    color: #fff;
    font-size: 13px;
}

#website-footer .wf-top .wft-ul .wft-address .weixin .weixinkf,
#website-footer .wf-top .wft-ul .wft-address .weixin .weixinggh {
    width: 115px;
    height: 109px;
    margin-bottom: 5px;
    background: url("../images/zzlm.png") no-repeat;
    background-size: cover;
}

#website-footer .wf-top .wft-ul .wft-address .weixin .weixinggh {
    background: url("../images/fwh.png") no-repeat;
    background-size: cover;
}

#website-footer .wf-top .wft-ul .wft-contact>h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.wft-c1{
    text-align:center;
}

.wft-c1 .wft-btn{
    margin-left:0!important;
}

#website-footer .wf-top .wft-ul .wft-address {
    float: left;
    padding-top:90px;
}

#website-footer .wf-top .wft-ul .wftadd1{
    border:none;
}

#website-footer .wf-top .wft-ul .wft-address>p {
    margin-bottom: 10px;
    margin-left: 28px;
}
#website-footer .wf-top .wft-ul .wft-address .wfta-title {
    color: #e0e0e0;
    font-size: 14px;
}

#website-footer .wf-top .wft-ul .wft-address .wftadd {
    /* width: 220px; */
    font-size:13px;
    margin-bottom: 20px;
}

.wf-bottom {
    width: 100%;
    height: 70px;
    background: #303030;
    text-align: center;
    line-height: 70px;
    color: #a2a2a2;
    font-size: 14px;
}
@media screen and (max-width:1200px){
    #website-footer .wf-top .wft-ul .wft-address{
        border-right-color:transparent;
    }
    #website-footer .wf-top .wft-ul .wft-contact{
        text-align:center;
    }
    #website-footer .wf-top .wft-ul .wft-contact .wft-c .wft-btn{
        margin-left:0;
    }
	#website-footer .wf-top .wft-ul{
        padding-top:80px;
    }
}

@media screen and (max-width:992px){
    #website-footer .wf-top .wft-ul .wft-map{
        border-right-color:transparent;
    }
    #website-footer .wf-top .wft-ul .wft-address{
        text-align:center;
    }
    #company-news .com-left .coml-container {
        margin-bottom: 50px;
    }
}
@media screen and (max-width:456px){
    .website .websiteTitle h2{
        font-size:50px;
    }
    .website .websiteTitle h3{
        font-size:40px;
    }
}

@media screen and (max-width:375px){
    #website-footer .wf-top .wft-ul .wft-address .weixin .wb2 {
        margin-left: 0;
    }
    #website-footer .wf-top .wft-ul .wft-address{
        margin-bottom:100px;
    }
}
@media screen and (max-width:320px){
    #website-footer .wf-top .wft-ul .wft-address{
        margin-bottom:100px;
    }
    #website-footer .wf-top .wft-ul .wft-contact .wft-c>input, #website-footer .wf-top .wft-ul .wft-contact .wft-c>textarea{
        width:200px;
    }
    #website-footer .wf-top .wft-ul .wft-map{
        padding-left:0;
        padding-right:0;
    }
    #website-footer .wf-top .wft-ul .wft-map img{
        width:300px;
    }
}